body {
    background-color: #16171c;
  }

.centertext {
    text-align: center;
    font-family: 'Open Sans';
    margin: auto;
  }

#button1 {
    background-color: #ac5e4a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

#button1:hover {
    background-color: #353535;
}

@media screen and (min-width: 900px) {
    #button1 {
        font-size: large;
        padding: 20px;
    }

    #img1 {
        width: 100%; 
        height: auto;
        
    }
}

@media screen and (min-width: 451px) and (max-width: 899px) {
    #button1 {
        margin-top: 20px;
        font-size: large;
        padding: 10px;
    }

    #img1 {
        width: 100%; 
        height: auto;
        
    }
}

@media screen and (max-width: 450px) {
    #button1 {
        margin-top: 20px;
        font-size: small;
        padding: 8px;
    }

    #img1 {
        width: 100%; 
        height: auto;
        
    }
}